{{ 'popup.css' | asset_url | stylesheet_tag }}
{% if customer == null
      and template.name != 'login'
      and template.name != 'register'
      and template.name != 'reset_password'
    %}
      <div id="state-fair-popup" class="popup" style="display: none;">
        <div class="popup-content">
          <span class="close-popup">&times;</span>
          <img
            src="https://assets.mnstatefair.org/_core/img/logos/Minnesota_State_Fair_logo-horizontal.svg"
            alt="Minnesota State Fair Logo"
            class="fair-logo"
          >

          <h2>Exclusive Offer!</h2>
          <p>Sign in or create an account to get 10% off for our 2025 State Fair Sale.</p>
          <a href="{{ routes.account_login_url }}" class="popup-btn">Sign In/Create Account</a>
        </div>
      </div>
      <script src="{{ 'popup.js' | asset_url }}" defer></script>
    {% endif %}